body {
  font-family:fantasy;
}

/*ヘッダ部*/
.header{
  background-color: #f7f2b4;
  height: 90px;
}

li{
  list-style: none;
}

/*メイン*/
.main{
  background-color: #bdf7f1;
  height: 600px;
}

/*フッタ部*/
.footer{
  background-color: #ceccf3;
  height: 270px;
}
