body {
  font-family: "Avenir Next";
}

/*ヘッダ部*/
.header{
  background-color:#87cefa;
  height: 90px;
}

.header-logo{
  font-size: 36px;
  float:left;
  padding:20px 40px;
}

li{
  list-style: none;
}

.header-list li{
  float:left;
  padding:33px 20px;
}

/*メイン*/
.main{
  padding:100px 80px;
}

.copy-container h1{
  font-size: 140px;
}

.copy-container h2{
  font-size: 60px;
}

.copy-container span{
  color:red;
}

.contents{
  height:500px;
}

.contents-item{
  float:left;
}

.contents-item img{
  height:200px;
  width: 250px;
}

.section-title{
  border-bottom: 1px solid red;
}

/*フッタ部*/
.footer{
  background-color: #dda0dd;
  height: 120px;
  color:#fff;
  padding: 40px;
}

.footer-logo{
  font-size:32px;
  float:left;
}

.footer-list {
  float:right;
}

.footer-list li{
  padding-bottom: 20px;
}
