body {
  font-family:fantasy;
}

h1{
  color:#ff0000;
  font-size:40px;
  background-color: #f3f372;
  width:500px;
  height: 150px;
}

p {
  color:#0000ff;
  font-size: 20px;
}

img{
  width:500px;
  height:200px;
}

.selected{
  color:#ff0000;
}
